:root {
    --background-color: #00090E;
    --text-color: #E1E1E1;
    --primary-color: #81FE88;
    --secondary-color: #888888;
    --tag-color: #171D1F;
    --font-family: "Prompt", sans-serif;
    --items-background: #171D1F;
    --error-color: #FF4C4C;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    padding: 56px 16px;
    gap: 27px;
}

aside, main {
    background-color: var(--items-background);
    border-radius: 10px;
    padding: 32px 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

aside:hover, main:hover {
    transform: translateY(-5px);
}

.lista-links {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 80px;
    align-items: center;
    list-style-type: none;
}

.lista-links li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.lista-links li:first-of-type a {
    color: var(--primary-color);
}

.lista-links li a:hover {
    color: var(--primary-color);
}

.link-destaque {
    border: 1px solid var(--primary-color);
    padding: 12px 30px;
    border-radius: 8px;
    background: transparent;
}

main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 100%;
}

h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

form div {
    display: flex;
    flex-direction: column;
}

form div label {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 8px;
}

form div input,
form div textarea {
    width: 100%;
    padding: 12px 16px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 8px;
    font-family: var(--font-family);
    font-size: 1rem;
    color: var(--text-color);
    outline: none;
    transition: background-color 0.3s ease;
}

form div input:focus, 
form div textarea:focus {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.lista-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 16px;
}

.lista-tags li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    background-color: var(--secondary-color);
    color: var(--background-color);
    border-radius: 8px;
    font-size: 0.9rem;
}

.lista-tags li img {
    cursor: pointer;
    transition: transform 0.2s;
}

.lista-tags li img:hover {
    transform: scale(1.2);
}

.container-botoes {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.container-botoes button {
    width: 100%;
    padding: 12px 32px;
    text-align: center;
    border-radius: 8px;
    font-family: var(--font-family);
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.botao-descartar {
    background-color: var(--items-background);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    position: relative;
}

.botao-descartar:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.botao-publicar {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    position: relative;
}

.botao-publicar:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.container-descricao {
    width: 100%;
    max-width: 500px;
}

.container-imagem {
    padding: 24px 16px;
    background-color: var(--secondary-color);
    border-radius: 8px;
}

.container-upload-imagem button {
    margin: 16px 0 8px;
    background-color: var(--items-background);
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    color: var(--secondary-color);
    width: 100%;
    padding: 12px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container-upload-imagem button:hover {
    background-color: var(--secondary-color);
    color: var(--items-background);
}

/* Responsividade */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        align-items: center;
        padding: 24px;
    }

    aside, main {
        width: 100%;
        padding: 16px;
    }

    .container-botoes button {
        width: 100%;
    }
}
